<div class = "container p-5" >

<h1><strong>New game</strong></h1>

  <div class = "letters d-flex">
    <% @letters.each do |letter| %>
    <div class = "letter-box p-3 border border-primary">
      <%= letter%>
    </div>
    <%end%>
  </div>
    <div>
      <form action="/score" method="post" data-turbo="false">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token%>
        <%= hidden_field_tag :letters, @letters %>
        <div class="input-group mb-3 p-3">
          <H2> What is the longest word you can find ?</H2>
          <input name="word" type="text" class="form-control" aria-label="Recipient’s username" aria-describedby="button-addon2">
           <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Play</button>
      </div>
      </form>
    </div>
</div>
